<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1" width="100%">
        <tr>
            <th>ID san pham</th>
            <th>Ten san pham</th>
            <th>Ton kho</th>
            <th>Gia Ban</th>
            <th>Image</th>
            <th>Action 1</th>
            <th>Action 2</th>
        </tr>
        <% if(productEjs.length > 0){ %>
            <% for(var i=0; i<productEjs.length; i++){ %>
                <tr>
                    <td><%- productEjs[i].sanphamID %>  </td>
                    <td><%- productEjs[i].tenSanPham %>  </td>
                    <td><%- productEjs[i].tonKho %>  </td>
                    <td><%- productEjs[i].gia %>  </td>
                    <td><%- productEjs[i].img %>  </td>
                    <td><a href="/delete-product?id=<%-productEjs[i].sanphamID %>">Delete</a></td>
                    <td><a href="/update-product?id=<%-productEjs[i].sanphamID %>">Update</a></td>
                </tr>
            <% } %>
        <% }else{ %>
            <h1> product not found! </h1>
        <% } %> 
    </table>
</body>
</html>